header.header 
  .container
    .row.align-items-center
      .col-3 
        .logo 
          img(src="/images/logo.jpg", alt="", srcset="")
      .col-9 
        .navi 
          a(href="").navi-item Trang chu  
          a(href="").navi-item San pham 
    